{% extends "/html/base.html" %}
{%block subtitle %}: Posts by {{author}} {% endblock %}
{% block content %}
<header role="banner">
  <a href="/"><img class="logo" src="../img/clojure_logo.svg" /></a>
  <h2 class="tagline"><strong>Clojure Arcana</strong> is a journal exploring the mysteries and delights of Clojure.
  </h2>
</header>
<div id="posts">
  <div id="page-header" class="post-header">
    <h2>{{author}}</h2>
  </div>
  <ul>
    {% for group in groups %}
    {% for post in group.posts %}
    <li class="author-post">
      <div>
	<h2><a href="{{post.uri}}">{{post.title}}</a></h2>
	<p>{{post.date|date:longDate}}</p>
	<p>{{post.content|safe}}</p>
      </div>
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
