{% extends "/html/base.html" %}
{% block content %}
<div id="home">
  <header role="banner">
    <img class="logo" src="img/clojure_logo.svg" />
    <h2 class="tagline"><strong>Clojure Arcana</strong> is a journal exploring the mysteries and delights of Clojure.
    </h2>
  </header>
  <div id="home-post">
    <div class="home-post-header">
      <em>Recently...</em>
      <h2><a href="{{post.uri}}">{{post.title}}</a></h2>
      <div>
	{{post.description|safe}}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 archive">
  <h2 class="text-center">Past articles</h2>
  <div class="col-lg-4">
    <h3>clojure.core</h3>
    <ul>
      <li>
	<a href="/fun-with-strings">Fun with strings</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
