{% extends "/html/base.html" %}
{%block subtitle %}: {{page.title}}{% endblock %}
{% block meta %}
{% if page.description %}
<meta name="description" content="{{page.description}}">
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{page.description}}">
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<header role="banner">
  <a href="/"><img class="logo" src="../img/clojure_logo.svg" /></a>
  <h2 class="tagline"><strong>Clojure Arcana</strong> is a journal exploring the mysteries and delights of Clojure.
  </h2>
</header>
<div id="custom-page">
  <div id="page-header">
    <h2>{{page.title}}</h2>
    <div id="post-meta" class="row">
      <div class="col-lg-12">{{page.date|date:fullDate}}</div>
      {% if page.author %}
      <span class="col-lg-12 right"><em>Written by:</em> <a href="/authors/{{post.author}}">{{page.author}}</a></span>
      {% endif %}
    </div>
  </div>
  {% if page.toc %}{{page.toc|safe}}{% endif %}
  {{page.content|safe}}
</div>
{% endblock %}
