{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}">
{% if post.description %}
<meta name="description" content="{{post.description}}">
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{post.description}}">
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<header role="banner">
  <a href="/"><img class="logo" src="../img/clojure_logo.svg" /></a>
  <h2 class="tagline"><strong>Clojure Arcana</strong> is a journal exploring the mysteries and delights of Clojure.
  </h2>
</header>
<div id="post">
  <div class="post-header">
    <h2 class="post-title">{{post.title}}</h2>
    <div id="post-meta" class="row">
      <div class="col-lg-12">{{post.date|date:longDate}}</div>
      {% if post.author %}
      <span class="col-lg-12 right"><em>Written by:</em> <a href="/authors/{{post.author}}">{{post.author}}</a></span>
      {% endif %}
    </div>
  </div>
  <div>
    {{post.content|safe}}
  </div>
</div>
{% endblock %}
